[user]
    name = balazs.saros
    email = balazs.saros@gmail.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore

[color]
    diff = false
    status = true
    branch = true
    interactive = true
    ui = true
    pager = true

[github]
    user = balzss

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[mergetool]
    prompt = true

[difftool]
    prompt = true

[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[includeIf "gitdir:/Users/balazs/"]
    path = /Users/balazs/dotfiles/gitconfig/.gitconfig-work
