Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: none
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

URxvt.scrollBar:           false
URxvt.saveLines:           8192
URxvt.geometry:             800x300
URxvt.highlightSelection:  true
URxvt.loginShell:          true
URxvt.termName:            xterm-256color
URxvt.letterSpace:         -1
URxvt.lineSpace:            1
URxvt.font:                xft:Source Code Pro-16
URxvt.boldFont:            xft:Source Code Pro-16
URxvt.iso14755: false


! rofi
rofi.modi: run
rofi.font: DejaVu Sans Mono for Powerline 18
rofi.width: 60
rofi.lines: 8
rofi.columns: 1
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-urgent: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-active: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-window: #282828, #458588, #458588
rofi.bw: 3
! location: 1 2 3 / 8 0 4 / 7 6 5
rofi.location: 0
rofi.padding: 10
rofi.fuzzy: true
rofi.separator-style: solid
rofi.hide-scrollbar: true
